<div class="container">
    
    <nav class="navbar">
        <logo></logo>
        <div class="d-flex flex-column justify-content-end button-wrapper">
            <a class="btn blueButton btnLogin rounded-5 mb-1 " role="button ">Login</a> 

        </div>
    </nav>
    <div class="d-flex flex-column">
        <div class="welcomePageContent d-flex">
            <div class="headerAndAdvertisment">
                <h1 class="welcomeHeader">
                    Mind maps driven note app
                </h1>
                <p class="lh-lg mt-4 text-muted advertismentText">
                    Develop your notes in our online tool and then
                    export all of them with one click to be able
                    to use your knowledge where you want
                </p>

            </div>
            <img class="welcomePicture" src="/assets/images/testWelcomePicture.png">
        </div>
        <div class="d-flex mt-4">
            <a routerLink="/login" class="btn blueButton btnLarge">Login</a>
            <a routerLink="/register" class="btn blueEmpty ms-3 btnLarge">Join now</a>
        </div>
    </div>
    
</div>

