<div class="node" [ngClass]="{'selected':isSelected}" [ngStyle]="nodeStyle" >
    <div class="d-flex flex-column justify-content-between">
        
        
        <div class="plusContainer">
            <div data-testid="plus" class="text-center plus">+</div>
        </div>
        <div class="d-flex flex-row justify-content-between ">
            <div class="plusContainer">
                <div class="plus">+</div>
            </div>
            <div class="ms-2 me-2 user-select-none nodeName">{{nodeName}}</div>
            <div class="plusContainer">
                <div class="plus">+</div>
            </div>
        </div>
        <div class="plusContainer">
            <div class="text-center plus">+</div>
        </div>
        
    </div>

</div>

