.node{
  
    background-color: floralwhite;
    border-radius: 2rem;
    cursor: context-menu;
}

.plus{
    background-color: #86D58C;
    border-radius: 2rem;
    border: solid 1px white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.8rem;
    height: 0.8rem;
    font-size: 0.8rem;
    user-select: none;
    display: none;
}

.plusContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0.8rem;
    min-height: 0.8rem;

}

.node:hover .plus{

    display: flex;
    
}

.selected .plus{
    display: flex;
}

.nodeName{
    white-space: pre-wrap;
}
