.mapPanelContainer {

    height: 100vh;
}

.settingsPanelContainer{
    padding-left: 0.5rem;

}

.settingsPanelAndLogoContainer{
    height: 100vh;
    padding:1rem;
    border-right: solid;
    border-color:white;
    background-color: #86D58C;
    z-index: 2;
}

.mapContainer{
    flex: 1;
    
}

