<div class="dropdown context-menu"  [ngStyle]="fileItemMenuPositionStyle" >
    <div class="dropdown-menu show contextMenuPanel" >  
      <a data-testid="removeBtn" class="dropdown-item greenHighlight myLink" (click)="removeFileItem()"><i class="bi bi-x-square-fill text-danger"></i> Remove</a>
      <a data-testid="renameBtn" class="dropdown-item greenHighlight myLink" (click)="renameFileItem()" ><i class="bi bi-pencil-square text-primary" ></i> Rename</a>
      <a data-testid="moveBtn" class="dropdown-item greenHighlight myLink" (click)="moveFileItem()"><i class="bi bi-arrow-bar-right text-warning"></i> Move</a>
    </div>
</div>
