.wideRoundedButton{
    width: 100%;
    border-radius: 2rem;
}

.blueButton{
    
    background-color: #77B6EA;

}
.blueButton:hover{
 
    background-color: #6ea7d6;
}

.blueEmpty2{
    background-color: #f0d2d19e;
}

.blueEmpty2:hover{
    background-color: #F0D2D1;
    border-color: #F0D2D1;
}

.blueEmpty{
    
    background-color: #f0d2d179;

}
.blueEmpty:hover{
    background-color: #F0D2D1;
    border-color: #F0D2D1;
}

.btnLarge{
    font-size: 1.4rem;
}

.btnMediumFont{
    font-size: 1.1rem;
    
}

.btnMedium{
    width: 6rem;
    font-size: 1.1rem;
}

.btnSucces{
    background-color: #25be30;
    color:white
}
.btnSucces:hover{
    background-color: #25be30c9
}