
<node-context-menu [nodeMenuPosition]="nodeContextMenuPosition"  *ngIf="isNodeContextMenuVisible"></node-context-menu>

@for(node of nodes; track node.uiId) {
    <node *ngIf="!isMindMapLoadingSpinnerVisible" data-testid="node" cdkDrag [cdkDragFreeDragPosition]="nodePositionDragTranslation" [cdkDragDisabled]="isMapPanningModeActive" [cdkDragBoundary]="'mind-map'" (cdkDragEnded)="onNodeDragEnd($event)"   class="position-absolute node" [nodeSettings]=node></node>
}


@for (branch of branches; track branch.id) {
    <branch [branchSettings]="branch" class="branch"></branch>
}

<branch class="branch" *ngIf="this.isBranchCreateModeActive" [branchSettings]="creatBranch"></branch>
<div *ngIf="isMindMapLoadingSpinnerVisible" class="d-flex flex-column flex-grow-1 justify-content-center align-items-center w-100 h-100">
    <div class="spinner-border yellow-spinner" role="status"></div>
    <div class="mt-2 loading">Processing..</div>
</div>


<div class="mindMapUiContainer">
    <div class="topUiContainer">
        

        <file-item-menu-in-mind-map [fileItemName]="fileItemName"></file-item-menu-in-mind-map>

    </div>

    <div class="bottomUiContainer">
        <div class="d-flex flex-row buttonConatiner">
            <div (click)="switchPanningMode(true)" class="btnIcon">  <i class="bi bi-arrows-move buttonIcon"  [ngClass]="{'selected':isMapPanningModeActive}"></i> </div>
            <div (click)="switchPanningMode(false)" class="btnIcon" > <i class="bi bi-cursor-fill buttonIcon" [ngClass]="{'selected':!isMapPanningModeActive}"></i></div>
        </div>
    </div>
</div>