.node{
    z-index: 1;
    transform: translate(-50%, -50%)
}

.mindMapUiContainer{
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottomUiContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;
    
}

.topUiContainer{
    margin-top: 2rem;
    justify-content: right;
    display: flex;
    align-items: center;
    margin-right: 2rem;
    
}



.btnIcon{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.buttonConatiner{
    background-color: white;
    border: solid 0.1rem #00000080;
    box-shadow: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    z-index: 2;

}

.buttonIcon
{
    color: rgba(0, 0, 0, 0.635);
}

.buttonIcon.selected
{
    color: black;
}

.buttonIcon:hover{
    color: black;
}


.branch
{
    position:absolute;
    height: 0.2rem;
    background-color: black;
    transform-origin: 0 0;
    border-radius: 5rem;
}



