<div  class="directoryManagerContainer mt-5 rounded-5">
    <h1 class="mb-5">Your mind maps</h1>
    <div class="w-100 d-flex " *ngIf="!this.fileMoveModeActive">
        <a (click)="setupModalForAddNewFileItem()" class="directoryManagerOptionButton addDirectoryButton btn " data-bs-toggle="modal" data-bs-target="#fileItemNameModal">New folder +</a>
        <a class="directoryManagerOptionButton addMapButton btn ms-4">New map +</a>
    </div>

    <div class="w-100 d-flex " *ngIf="this.fileMoveModeActive">
        <a (click)="moveFileItemToThisFolder()" class="directoryManagerOptionButton addDirectoryButton btn ">Move here</a>
        <a (click)="cancelMoveFileItemMode()"  class="directoryManagerOptionButton addMapButton btn ms-4">Cancel</a>
    </div>
    <div class="directoryManagerContainerWindow mt-5">
        <directory-manager-panel class="w-100 h-100 d-flex flex-column"></directory-manager-panel>
    </div>
</div>


  
<set-fileitem-name></set-fileitem-name>