<div  class="directoryManagerContainer mt-5 rounded-5">
    <h1 class="mb-5">Your mind maps</h1>
    <div class="w-100 d-flex ">
        <a (click)="resetModal()" class="directoryManagerOptionButton addDirectoryButton btn " data-bs-toggle="modal" data-bs-target="#exampleModal">New folder +</a>
        <a class="directoryManagerOptionButton addMapButton btn ms-4">New map +</a>
    </div>
    <div class="directoryManagerContainerWindow mt-5">
        <directory-manager-panel class="w-100 h-100 d-flex flex-column"></directory-manager-panel>
    </div>
</div>


  
<add-folder-file></add-folder-file>