
<h1 class="title">Node settings</h1>
<div class="lineMapSettings" ></div>

<form class="mt-3">
    <label for="nodeName" class="form-label labelMapSettings">Node name</label>
    <input type="text" class="form-control " placeholder="Node name"  name="nodeName">
    
    <div class="d-flex flex-row justify-content-between mt-3">
        <label for="nodeColor" class="form-label labelMapSettings">Node color</label>
        <input type="color"  class="form-control colorInputMapSettings" name="nodeColor" value="#000000">
    </div>
</form>