


.panelContainer {
    padding-left: 1rem;
    padding-right: 1rem;

    padding-bottom: 1rem;
}

.filePathContainer{
    margin-left:2.4rem;
    margin-top: 1rem;
    font-size: 0.8rem;
}

.notClickedLink{
    color: #00000094;
}



