

<div class="filePathContainer">
    <span *ngIf="!isInHomeDirectory" class="myLink notClickedLink" (click)="updateCurrentPath('/')">Home</span>
    
    <span *ngFor="let segmentAndPath of segmentsWithPaths" class="myLink notClickedLink" (click)="updateCurrentPath(segmentAndPath.path)">
        > {{segmentAndPath.segment}}
    </span>
    <span *ngIf="!isInHomeDirectory">> {{currentFolder}}</span>
    <span *ngIf="isInHomeDirectory">Home</span>

</div>
<div *ngIf="!isFileItemListUpdateInProgress" class="w-100 h-100 d-flex flex-wrap overflow-auto panelContainer">
    @for (folder of folders; track $index) {
    
        <folder-item [folderName]="folder" (contextmenu)="ShowFileItemOptions($event,folder,1)"></folder-item>
    }
</div>

<div *ngIf="isFileItemListUpdateInProgress" class="d-flex flex-column flex-grow-1 justify-content-center align-items-center w-100 h-100">
    <div class="spinner-border yellow-spinner" role="status"></div>
    <div class="mt-2 loading">Processing..</div>
</div>

<file-item-menu *ngIf="isFileItemContextMenuVisible"
   [selectedFileItem]="fileItemForFileItemMenu"
   [fileItemMenuPositionStyle]="contextMenuPositionStyle"></file-item-menu>
